/* agregando fuente color de fondo y color de texto  */
#body{
    background-color: #000;
    color: #fff; /* texto a blanco */
    font-family: 'Roboto'
    
    }
    
    /* test dar font a navbar */
    
    .navbar p{
      font-size:25px;
      font-family: "Roboto", sans-serif;
      font-weight:500;
      color:#ffffff;
    }
    
    /* ---quienes somos testeos--- */
    
    /* iconos */
    .contenido i{
    align-items: center;
    justify-content: center;
    display: flex;
    }
    
    
    /* --- Destacados test--- */
        
    @media(max-width:435px){
      #destacados h2{
        font-size: 23px;
    }
    }
    
    
    .card h2 {
    font-size:25px;
    font-family: "Cabin",sans-serif;
    font-weight:500;
    justify-content: center;
    text-align: center;
    }
    
    .card p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight:400;
    color:#ffffff;
    
    }
    .card {
      flex: 1;
      margin-right: 15px;
    }
      
      
    @media (max-width: 1196px) {
    .card-group {
      flex-direction: column;           
    }
    .card-body h2{
      font-weight: bold;
    }
    } 
     
    @media (max-width: 768px) {
    #destacados .card-text {
      font-size: 80%;
      margin-top: 0px;
      font-weight: 600;
    }
    .card-group {
    margin-top: 1px; 
    margin-bottom: 1px;
    }
    }
    
    
    @media (max-width: 912px) {
    #destacados .card-text {
      font-size: 80%;
      margin-top: 0px;
      font-weight: 600;
    }
    
    .card-group {
    margin-top: 1px; 
    margin-bottom: 1px;
    }
    }
    
    .card img{
    height: 11rem;
    }
    